@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }
}

@layer base {
  /* Primitives */
  :root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-slate-300: hsl(212, 45%, 89%);
    --clr-slate-500: hsl(216, 15%, 48%);
    --clr-slate-900: hsl(218, 44%, 22%);

    --ff: "Outfit", sans-serif;

    --fs-300: 0.938rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.375rem;

    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2.5rem;

    --border-radius-1: 0.625rem;
    --border-radius-2: 1.25rem;

    --line-height-s: 1.2;
    --line-height-m: 1.4;
    --letter-spacing-w: 0.013em;
    --letter-spacing-n: 0;

    /* Semantic Layer */
    /* in another selector for syntax highlighting reasons only */
  }
  :root {
    --measure: 60ch;

    --text-main: var(--clr-slate-500);
    --text-high-contrast: var(--clr-slate-900);

    --background-white: var(--clr-white);
    --background-light: var(--clr-slate-300);
  }
}

@layer base {
  html {
    font-family: var(--ff);
    line-height: var(--line-height-m);
  }

  body {
    font-size: var(--fs-300);
    color: var(--text-main);
  }

  h1,
  h2,
  h3,
  h4 {
    max-inline-size: var(--measure);
    color: var(--text-high-contrast);
  }

  p {
    max-inline-size: var(--measure);
  }

  img {
    border-radius: var(--border-radius-1);
  }
}

@layer layout {
  .cover {
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .box {
    padding: var(--spacing-sm);
  }

  .wrapper {
    padding-inline: var(--spacing-sm);
  }

  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .stack > * {
    margin-block: 0;
  }

  .stack > * + * {
    margin-block-start: var(--spacing-sm);
  }
}

@layer components {
  .container {
    max-width: 20rem;
    border-radius: var(--border-radius-1);
    background-color: var(--background-light);
  }

  .figure {
    display: flex;
    flex-direction: column;
    max-width: 288px;
  }

  .heading {
    line-height: var(--line-height-s);
    letter-spacing: var(--letter-spacing-n);
  }

  .text {
    line-height: var(--line-height-m);
    letter-spacing: var(--letter-spacing-w);
    font-weight: 300;
  }
}

@layer utilities {
  .text\:center {
    text-align: center;
  }

  .bg\:white {
    background-color: var(--background-white);
  }

  .bg\:light {
    background-color: var(--background-light);
  }

  .mb\:xs {
    margin-bottom: var(--spacing-xs);
  }
  .pb\:lg {
    padding-bottom: var(--spacing-lg);
  }
}
